DEBUG=True
DJANGO_SETTINGS_MODULE=settings
SECRET_KEY='my_secret_key'

ADMIN_PASSWORD='administrator_password'
DATABASE_URL='postgres://user:password@host:port/database'

OHAPI_CLIENT_ID='my_client_id'
OHAPI_CLIENT_SECRET='my_client_secret'

SPOTIFY_CLIENT_ID='my_client_id'
SPOTIFY_CLIENT_SECRET='my_client_secret'

REDIS_URL='redis://localhost:6379/1'
