{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="row p-4">

        <div class="col-9">

            <form action="{% url 'recommendations' %}" method="post">
                {% csrf_token %}

                <table>
                    <tbody>
                    <tr>
                        <td class="table-label py-4">
                            <label for="genres">Genres</label>
                        </td>
                        <td class="table-input text-center">
                            <select name="genres" id="genres" multiple class="form-control btn-outline-secondary">
                                {% for genre in available_genres %}
                                    <option value="{{ genre }}">{{ genre|title }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="popularity">Popularity (0-100)</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_popularity" id="popularity" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="tempo">Tempo (40-200bpm)</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_tempo" id="tempo" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="valence">Valence ("positivity" of the track)</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_valence" id="valence" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="energy">Energy</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_energy" id="energy" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="acousticness">Acousticness</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_acousticness" id="acousticness" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="danceability">Danceability</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_danceability" id="danceability" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="instrumentalness">Instrumentalness</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_instrumentalness" id="instrumentalness" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="liveliness">Liveliness</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_liveliness" id="liveliness" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-label py-2">
                            <label for="speechiness">Speechiness</label>
                        </td>
                        <td class="table-input text-center">
                            <input type="text" name="a_speechiness" id="speechiness" class="slider-input"
                                   data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="[0,100]">
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>

            </form>

        </div>

        <div class="col-3">
            <div class="card" style="width: 18rem;">
                {% if spotify_profile.images.0.url %}
                    <img class="card-img-top" src="{{ spotify_profile.images.0.url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ spotify_profile.external_urls.spotify }}" target="_blank">{{ spotify_profile.display_name }}</a></h5>
                    <p class="card-text float-right">{{ spotify_profile.id }}</p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block styles %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css">
    <style>
        .multiselect-container {
            min-width: 500px;
        }
        .multiselect-container li {
            padding-top: 8px;
        }
        .multiselect-container a {
            color: inherit;
            outline: none;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/css/bootstrap-slider.min.css">
    <style>
        .slider {
            min-width: 100%;
        }
        .slider .slider-handle {
            background-image: linear-gradient(#6c757d, #6c757d);
        }
    </style>

    <style>
        .table-label {
            min-width: 400px;
        }
        .table-input {
            width: 500px;
        }
    </style>

{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#genres").multiselect({
                inheritClass: true,
                maxHeight: 400,
                buttonWidth: '500px',
            });
        });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.2.0/bootstrap-slider.min.js"></script>
    <script>
        $(".slider-input").slider({});
    </script>

{% endblock %}
